.footer{
    border-top:1px solid lightslategray;
    padding:20px;
    /* background-color:#f7f7f7; */
    background-color:azure;
    text-align:center;
}
.footer > p{
    padding:5px;
    font-size:14px;
}